<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS Grid Gallery</title>
    <link rel="stylesheet" href="mosaic-gallery.css">
</head>
<body>
    
    <div class="gallery-content">
        <div class="gallery">
            <div class="gallery-item">
                <div class="gallery-overflow-box">
                    <div class="zoom-icon"></div>
                    <img class="gallery-image" src="img/Bathroom1.jpg" alt="Gallery-image-1">
                </div>
            </div>
            <div class="gallery-item">
                <div class="gallery-overflow-box">
                    <div class="zoom-icon"></div>
                    <img class="gallery-image" src="img/Business1.jpg" alt="Gallery-image-2">
                </div>
            </div>
            <div class="gallery-item">
                <div class="gallery-overflow-box">
                    <div class="zoom-icon"></div>
                    <img class="gallery-image" src="img/Closeup1.jpg" alt="Gallery-image-3">
                </div>
            </div>
            <div class="gallery-item">
                <div class="gallery-overflow-box">
                    <div class="zoom-icon"></div>
                    <img class="gallery-image" src="img/House3.jpg" alt="Gallery-image-4">
                </div>
            </div>
            <div class="gallery-item">
                <div class="gallery-overflow-box">
                    <div class="zoom-icon"></div>
                    <img class="gallery-image" src="img/House1.jpg" alt="Gallery-image-5">
                </div>
            </div>
            <div class="gallery-item">
                <div class="gallery-overflow-box">
                    <div class="zoom-icon"></div>
                    <img class="gallery-image" src="img/Pool1.jpg" alt="Gallery-image-6">
                </div>
            </div>
            <div class="gallery-item">
                <div class="gallery-overflow-box">
                    <div class="zoom-icon"></div>
                    <img class="gallery-image" src="img/Bathroom2.jpg" alt="Gallery-image-7">
                </div>
            </div>
            <div class="gallery-item">
                <div class="gallery-overflow-box">
                    <div class="zoom-icon"></div>
                    <img class="gallery-image" src="img/Business2.jpg" alt="Gallery-image-8">
                </div>
            </div>
            <div class="gallery-item">
                <div class="gallery-overflow-box">
                    <div class="zoom-icon"></div>
                    <img class="gallery-image" src="img/Closeup4.jpg" alt="Gallery-image-9">
                </div>
            </div>
            <div class="gallery-item">
                <div class="gallery-overflow-box">
                    <div class="zoom-icon"></div>
                    <img class="gallery-image" src="img/Exterior2.jpg" alt="Gallery-image-10">
                </div>
            </div>
            <div class="gallery-item">
                <div class="gallery-overflow-box">
                    <div class="zoom-icon"></div>
                    <img class="gallery-image" src="img/House2.jpg" alt="Gallery-image-11">
                </div>
            </div>
            <div class="gallery-item">
                <div class="gallery-overflow-box">
                    <div class="zoom-icon"></div>
                    <img class="gallery-image" src="img/Pool2.jpg" alt="Gallery-image-12">
                </div>
            </div>
            <div class="gallery-item">
                <div class="gallery-overflow-box">
                    <div class="zoom-icon"></div>
                    <img class="gallery-image" src="img/Bathroom3.jpg" alt="Gallery-image-13">
                </div>
            </div>
            <div class="gallery-item">
                <div class="gallery-overflow-box">
                    <div class="zoom-icon"></div>
                    <img class="gallery-image" src="img/Business3.jpg" alt="Gallery-image-14">
                </div>
            </div>
            <div class="gallery-item">
                <div class="gallery-overflow-box">
                    <div class="zoom-icon"></div>
                    <img class="gallery-image" src="img/Kitchen1.jpg" alt="Gallery-image-15">
                </div>
            </div>
            <div class="gallery-item">
                <div class="gallery-overflow-box">
                    <div class="zoom-icon"></div>
                    <img class="gallery-image" src="img/Kitchen2.jpg" alt="Gallery-image-16">
                </div>
            </div>
        </div>

        <div id="galleryModal" class="gallery-modal">
            <span id="closeButton" class="close-button">&times;</span>
            <img id="modalImage" class="gallery-modal-image" src="" alt="Modales!">
        </div>
    </div>

    <script src="mosaic-gallery.js"></script>

</body>
</html>